{
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "editor.formatOnSave": true,
  "editor.codeActionsOnSave": {
    "source.fixAll.eslint": true,
    "source.organizeImports": true
  },
  "prettier.enableDebugLogs": false,
  "prettier.singleQuote": true,
  "prettier.trailingComma": "all",
  "prettier.tabWidth": 2,
  "prettier.useTabs": false,
  "prettier.semi": false,

  "trailingComma": "all",
  "singleQuote": true,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "react",
    "^react-.*$",
    "^next",
    "^next-.*$",
    "^next/.*$",
    "^.*/hooks/.*$",
    "^.*/services/.*$",
    "^.*/utils/.*$",
    "^.*/types/.*$",
    "^.*/pages/.*$",
    "^.*/components/.*$",
    "^[./]",
    ".*"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false
}
